@import "../../assets/fonts.scss";

.listTitle {
  font-size: 1.6rem;
  color: #eee;
  font-family: $firstFont;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: capitalize;
  padding: 20px 0;
  text-align: center;
}

.citiesList {
  width: 70%;
  list-style-type: none;
  padding-bottom: 40px;
}

@media screen and (max-width: 320px) and (max-aspect-ratio: 13/9) {
  .listTitle {
    font-size: 1.2rem;
  }

  .citiesList {
    width: 95%;
  }
}

@media screen and (max-width: 414px) and (min-width: 321px) and (max-aspect-ratio: 13/9) {
  .listTitle {
    font-size: 1.3rem;
  }

  .citiesList {
    width: 90%;
  }
}
