@import "../../assets/fonts.scss";

.listTitle {
  font-size: 1.6rem;
  color: #eee;
  font-family: $firstFont;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: capitalize;
  padding: 20px 0;
}

.citiesList {
  width: 70%;
  list-style-type: none;
  padding-bottom: 40px;
}
